{{ define "main" -}}
<h1>Food!!!</h1>
<p>I love to cook, bake, and host. This is where I am keeping a running
repository of some lightly-annotated favorite recipes, both my own and those
I have collected, feel free to explore</p>

  <div class="posts">
    {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.MainSections -}}
    {{- $paginator := .Paginate $pages -}}
    {{ range $paginator.Pages }}
      <article class="post">
        <h2 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
      </article>
    {{- end }}
  </div>

  {{ template "_internal/pagination.html" . }}
{{- end }}
